<%= form_for(@devwork) do |f| %>

  <% if @devwork.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@devwork.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @devwork.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :client %><br>
    <%= f.text_field :client %>
  </p>

  <p>
    <%= f.label :active_site %>
    <%= f.check_box :active_site %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.url_field :url %>
  </p>

  <p>
    <%= f.label :archive_link %><br>
    <%= f.url_field :archive_link %>
  </p>

  <p>
    <%= f.label :hero %>
    <%= f.file_field :hero %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
