<span class="logoBlock"></span><h1>Leo8eleven</h1>
<h3>The site is currently under reconstruction.  For potential work, please <a href="mailto:vizente@leo8eleven.com">email</a> me.</h3>

<% if user_signed_in? %>
  <%= link_to 'New work', new_devwork_path %>
<% end %>


<div class="devworkContainer">

  <% @devworks.each do |devwork| %>
    <div class="devworkCard">
      <div class="devworkImg">
        <a href="<%= devwork_path(devwork)%>">
          <img src="<%= devwork.hero %>" alt="image">
        </a>
      </div>
      <div class="devworkTitle">
        <h3><%= devwork.client %></h3>
        <% if devwork.url? %>
          <a href="<%= devwork.url %>">Visit Site</a>
        <% end %>
        <% if devwork.archive_link? %>
        <a href="<%=devwork.archive_link %>">Visit archive</a>
        <% end %>
        <% if user_signed_in? %>
          <div class="loginFeature"><%= link_to 'Edit', edit_devwork_path(devwork) %></div>
          <div class="loginFeature"><%= link_to 'Destroy', devwork_path(devwork),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
