
<h4>Past Work</h4>

<% @devworks.each do |devwork| %>
  <div class="devworkCard">
    <div class="devworkImg">imageurl:<%= devwork.image %></div>
    <div class="devworkTitle"><%= devwork.client %></div>
    <div><%= link_to 'Show', devwork_path(devwork) %></div>
    <div><%= link_to 'Edit', edit_devwork_path(devwork) %></div>
    <div><%= link_to 'Destroy', devwork_path(devwork),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>
