<div class="devworkCard">
  <div class="devworkImg">
    <%= image_tag(@devwork.hero.url, alt: 'Image') if @devwork.hero? %>
  </div>
  <div class="devworkUrl">
    <%= @devwork.url %>
  </div>
  <div class="devworkTitle">
    <%= @devwork.client %>
  </div>
</div>

<%= link_to 'Back', devworks_path %>

<%= link_to 'Edit', edit_devwork_path(@devwork) %> |
